In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("D:\CSV files\car_data1.csv")

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.tail()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
296,city,2016,9.50,11.6,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.9,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.0,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.5,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.9,5464,Petrol,Dealer,Manual,0

In [5]:
X = df.drop("Selling_Price",axis=1)

In [6]:
y = df.Selling_Price

In [7]:
X.drop(['Car_Name','Present_Price'],axis=1, inplace=True)

In [8]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [9]:
X.shape

(301, 6)

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          301 non-null    int64
 1   Kms_Driven    301 non-null    int64
 2   Fuel_Type     301 non-null    object
 3   Seller_Type   301 non-null    object
 4   Transmission  301 non-null    object
 5   Owner         301 non-null    int64
dtypes: int64(3), object(3)
memory usage: 14.2+ KB

In [11]:
X.isnull().sum()

Year            0
Kms_Driven      0
Fuel_Type       0
Seller_Type     0
Transmission    0
Owner           0
dtype: int64

In [12]:
X['Current_year']= 2025

In [13]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Current_year
0  2014       27000    Petrol      Dealer       Manual      0          2025
1  2013       43000    Diesel      Dealer       Manual      0          2025
2  2017        6900    Petrol      Dealer       Manual      0          2025
3  2011        5200    Petrol      Dealer       Manual      0          2025
4  2014       42450    Diesel      Dealer       Manual      0          2025

In [14]:
X['Year'] = X['Current_year'] - X['Year']

In [15]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Current_year
0    11       27000    Petrol      Dealer       Manual      0          2025
1    12       43000    Diesel      Dealer       Manual      0          2025
2     8        6900    Petrol      Dealer       Manual      0          2025
3    14        5200    Petrol      Dealer       Manual      0          2025
4    11       42450    Diesel      Dealer       Manual      0          2025

In [16]:
X.drop("Current_year", axis=1,inplace=True)

In [17]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0    11       27000    Petrol      Dealer       Manual      0
1    12       43000    Diesel      Dealer       Manual      0
2     8        6900    Petrol      Dealer       Manual      0
3    14        5200    Petrol      Dealer       Manual      0
4    11       42450    Diesel      Dealer       Manual      0

In [18]:
X['Owner'].unique()

array([0, 1, 3])

In [19]:
X['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [20]:
X['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [21]:
X['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [22]:
X = pd.get_dummies(data=X, columns=['Fuel_Type','Transmission','Seller_Type'],drop_first=True, dtype=int)

In [23]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual,Seller_Type_Individual
0,11,27000,0,0,1,1,0
1,12,43000,0,1,0,1,0
2,8,6900,0,0,1,1,0
3,14,5200,0,0,1,1,0
4,11,42450,0,1,0,1,0

In [24]:
X.shape

(301, 7)

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
model = MinMaxScaler()

In [27]:
model.fit_transform(df[["Year", "Kms_Driven", "Owner"]])

array([[0.73333333, 0.05305305, 0.        ],
       [0.66666667, 0.08508509, 0.        ],
       [0.93333333, 0.01281281, 0.        ],
       [0.53333333, 0.00940941, 0.        ],
       [0.73333333, 0.08398398, 0.        ],
       [1.        , 0.00314515, 0.        ],
       [0.8       , 0.03662863, 0.        ],
       [0.8       , 0.06592392, 0.        ],
       [0.86666667, 0.03958559, 0.        ],
       [0.8       , 0.08381782, 0.        ],
       [0.93333333, 0.00327327, 0.        ],
       [0.8       , 0.1011011 , 0.        ],
       [0.8       , 0.02902903, 0.        ],
       [0.8       , 0.05105105, 0.        ],
       [0.4       , 0.15400801, 0.        ],
       [0.86666667, 0.08508509, 0.        ],
       [0.8       , 0.08243844, 0.        ],
       [0.86666667, 0.08508509, 0.        ],
       [0.8       , 0.07007007, 0.        ],
       [0.46666667, 0.08196597, 0.        ],
       [0.86666667, 0.04904905, 0.        ],
       [0.93333333, 0.0038038 , 0.        ],
       [0.53333333, 0.0990991 , 0.        ],
       [0.73333333, 0.08964965, 0.        ],
       [0.66666667, 0.11287087, 0.        ],
       [0.53333333, 0.03903904, 0.        ],
       [0.66666667, 0.10938539, 0.        ],
       [0.93333333, 0.03143143, 0.        ],
       [0.46666667, 0.08817217, 0.        ],
       [0.8       , 0.08908909, 0.        ],
       [0.6       , 0.10197998, 0.        ],
       [0.53333333, 0.10750751, 0.        ],
       [0.73333333, 0.07707708, 0.        ],
       [0.73333333, 0.08908909, 0.        ],
       [0.73333333, 0.08908909, 0.        ],
       [0.53333333, 0.0990951 , 0.        ],
       [0.8       , 0.09663063, 0.        ],
       [0.        , 0.25325325, 0.        ],
       [0.86666667, 0.01917718, 0.        ],
       [0.        , 0.12312312, 0.        ],
       [0.86666667, 0.0480961 , 0.        ],
       [0.73333333, 0.0925045 , 0.        ],
       [0.33333333, 0.11511512, 0.        ],
       [0.73333333, 0.09065065, 0.        ],
       [0.6       , 0.0990991 , 0.        ],
       [0.73333333, 0.02902903, 0.        ],
       [0.66666667, 0.12819219, 0.        ],
       [0.2       , 0.12912913, 0.        ],
       [0.8       , 0.05079079, 0.        ],
       [0.93333333, 0.07307307, 0.        ],
       [0.6       , 0.20862262, 0.        ],
       [0.8       , 0.07907908, 0.        ],
       [0.93333333, 0.02902903, 0.        ],
       [0.66666667, 0.26926927, 0.        ],
       [0.13333333, 0.17917918, 0.        ],
       [0.4       , 0.13913914, 0.        ],
       [0.8       , 0.08014815, 0.        ],
       [0.46666667, 0.0990991 , 0.        ],
       [0.73333333, 0.07804805, 0.33333333],
       [0.73333333, 0.08108108, 0.        ],
       [0.66666667, 0.07908108, 0.        ],
       [0.8       , 0.08025626, 0.        ],
       [0.73333333, 0.15515516, 0.        ],
       [0.8       , 0.09309309, 0.        ],
       [0.93333333, 0.01101101, 0.        ],
       [0.73333333, 0.08908909, 0.        ],
       [0.93333333, 0.02102102, 0.        ],
       [0.46666667, 0.11711712, 0.        ],
       [0.53333333, 0.17517518, 0.        ],
       [0.86666667, 0.02302302, 0.        ],
       [0.73333333, 0.14114114, 0.        ],
       [0.53333333, 0.08908909, 0.        ],
       [0.66666667, 0.11111311, 0.        ],
       [0.53333333, 0.08508509, 0.        ],
       [0.73333333, 0.16516517, 0.        ],
       [0.8       , 0.07107107, 0.        ],
       [0.66666667, 0.14314314, 0.        ],
       [0.06666667, 0.26957758, 0.        ],
       [0.46666667, 0.15915916, 0.        ],
       [0.6       , 0.17717718, 0.        ],
       [0.86666667, 0.04504505, 0.        ],
       [0.8       , 0.07907908, 0.        ],
       [0.93333333, 0.02902903, 0.        ],
       [0.8       , 0.07507508, 0.        ],
       [0.13333333, 0.39374575, 0.        ],
       [0.2       , 0.28328328, 1.        ],
       [0.46666667, 0.15515516, 0.        ],
       [0.6       , 0.11111111, 0.        ],
       [0.66666667, 0.09309309, 0.        ],
       [0.73333333, 0.07907908, 0.        ],
       [0.4       , 0.12312312, 0.        ],
       [0.73333333, 0.1155996 , 0.        ],
       [0.13333333, 0.14914915, 0.        ],
       [0.8       , 0.07907908, 0.        ],
       [0.33333333, 0.17717718, 0.        ],
       [0.6       , 0.14314314, 0.        ],
       [0.86666667, 0.05705706, 0.        ],
       [0.93333333, 0.01641642, 0.        ],
       [0.66666667, 0.08908909, 0.        ],
       [0.46666667, 0.09914715, 0.        ],
       [0.86666667, 0.00500501, 0.        ],
       [0.93333333, 0.0018018 , 0.        ],
       [0.93333333, 0.00700701, 0.        ],
       [0.93333333, 0.0014014 , 0.        ],
       [0.93333333, 0.00720721, 0.        ],
       [0.8       , 0.04244244, 0.        ],
       [0.73333333, 0.03203203, 0.33333333],
       [0.66666667, 0.02902903, 0.        ],
       [0.86666667, 0.03503504, 0.        ],
       [0.93333333, 0.02102102, 0.        ],
       [0.86666667, 0.01101101, 0.        ],
       [0.86666667, 0.01641642, 0.        ],
       [0.73333333, 0.01301301, 0.        ],
       [0.86666667, 0.06906907, 0.        ],
       [0.8       , 0.03303303, 0.        ],
       [0.8       , 0.03403403, 0.        ],
       [0.66666667, 0.06506507, 0.        ],
       [0.8       , 0.02702703, 0.        ],
       [0.8       , 0.05105105, 0.        ],
       [0.66666667, 0.00980981, 0.        ],
       [0.86666667, 0.01041041, 0.        ],
       [0.53333333, 0.01281281, 0.        ],
       [0.86666667, 0.01101101, 0.        ],
       [0.66666667, 0.09209209, 0.        ],
       [0.6       , 0.02202202, 0.        ],
       [0.4       , 0.07907908, 0.        ],
       [0.93333333, 0.0016016 , 0.        ],
       [0.86666667, 0.01301301, 0.        ],
       [0.93333333, 0.00500501, 0.        ],
       [0.93333333, 0.00900901, 0.        ],
       [0.93333333, 0.02102102, 0.        ],
       [0.8       , 0.03503504, 0.        ],
       [0.93333333, 0.00600601, 0.        ],
       [0.86666667, 0.        , 0.        ],
       [0.93333333, 0.02262262, 0.        ],
       [0.8       , 0.00900901, 0.        ],
       [0.73333333, 0.04604605, 0.        ],
       [0.66666667, 0.03103103, 0.        ],
       [0.86666667, 0.02902903, 0.        ],
       [0.8       , 0.03223223, 0.        ],
       [0.66666667, 0.06306306, 0.        ],
       [0.86666667, 0.03903904, 0.        ],
       [0.8       , 0.05705706, 0.        ],
       [0.86666667, 0.04904905, 0.        ],
       [0.73333333, 0.04904905, 0.        ],
       [0.6       , 0.03703704, 0.        ],
       [0.73333333, 0.02902903, 0.        ],
       [0.8       , 0.11511512, 0.        ],
       [0.46666667, 0.08908909, 0.        ],
       [0.86666667, 0.04704705, 0.        ],
       [0.53333333, 0.01101101, 0.        ],
       [0.86666667, 0.06106106, 0.        ],
       [0.6       , 0.02502503, 0.        ],
       [0.66666667, 0.08908909, 0.        ],
       [0.73333333, 0.01501502, 0.        ],
       [0.93333333, 0.00760761, 0.        ],
       [0.93333333, 0.02902903, 0.        ],
       [0.8       , 0.04504505, 0.        ],
       [0.93333333, 0.01621622, 0.        ],
       [0.93333333, 0.00700701, 0.        ],
       [0.53333333, 0.04704705, 0.        ],
       [0.73333333, 0.04504505, 0.        ],
       [0.6       , 0.02802803, 0.        ],
       [0.46666667, 0.05305305, 0.        ],
       [0.86666667, 0.02702703, 0.        ],
       [0.86666667, 0.        , 0.        ],
       [0.86666667, 0.001001  , 0.        ],
       [0.73333333, 0.08308308, 0.        ],
       [0.66666667, 0.02302302, 0.        ],
       [0.8       , 0.02702703, 0.        ],
       [0.6       , 0.01001001, 0.        ],
       [0.8       , 0.01241241, 0.        ],
       [0.73333333, 0.02642643, 0.        ],
       [0.93333333, 0.0016016 , 0.        ],
       [0.8       , 0.07627628, 0.        ],
       [0.53333333, 0.14914915, 0.        ],
       [0.53333333, 0.05905906, 0.        ],
       [0.86666667, 0.04704705, 0.        ],
       [0.73333333, 0.03703704, 0.        ],
       [0.46666667, 0.42542543, 0.        ],
       [0.6       , 0.11911912, 0.        ],
       [0.86666667, 0.0990991 , 0.        ],
       [0.66666667, 0.05905906, 0.        ],
       [0.66666667, 0.04104104, 0.        ],
       [0.33333333, 0.05105105, 0.33333333],
       [0.33333333, 0.0028028 , 0.        ],
       [0.46666667, 0.04304304, 0.        ],
       [0.66666667, 0.06306306, 0.        ],
       [0.66666667, 0.03503504, 0.        ],
       [0.13333333, 0.10910911, 0.        ],
       [0.33333333, 0.11911912, 0.        ],
       [0.6       , 0.04904905, 0.33333333],
       [0.26666667, 0.0970971 , 0.33333333],
       [0.66666667, 0.04704705, 0.33333333],
       [0.33333333, 0.0990991 , 0.        ],
       [0.8       , 0.06906907, 0.        ],
       [0.33333333, 1.        , 0.        ],
       [0.46666667, 0.06506507, 0.        ],
       [0.53333333, 0.06906907, 0.33333333],
       [0.26666667, 0.10510511, 0.        ],
       [0.2       , 0.18364965, 0.        ],
       [0.46666667, 0.11511512, 0.33333333],
       [0.8       , 0.05545546, 0.        ],
       [0.53333333, 0.10602603, 0.        ],
       [0.8       , 0.05561962, 0.        ],
       [0.86666667, 0.00599199, 0.33333333],
       [0.93333333, 0.02398198, 0.        ],
       [0.8       , 0.06866266, 0.        ],
       [0.93333333, 0.00587588, 0.        ],
       [0.8       , 0.04129129, 0.        ],
       [0.6       , 0.07062062, 0.        ],
       [0.8       , 0.08615616, 0.        ],
       [0.86666667, 0.04438639, 0.        ],
       [0.53333333, 0.06227027, 0.        ],
       [0.93333333, 0.03926727, 0.        ],
       [0.6       , 0.07127127, 0.        ],
       [0.86666667, 0.02402402, 0.        ],
       [0.86666667, 0.02902903, 0.        ],
       [0.73333333, 0.08924525, 0.        ],
       [0.6       , 0.07107107, 0.        ],
       [0.93333333, 0.07605205, 0.        ],
       [0.66666667, 0.06306306, 0.        ],
       [0.73333333, 0.15441842, 0.        ],
       [0.8       , 0.12188388, 0.        ],
       [0.66666667, 0.07146747, 0.        ],
       [0.53333333, 0.04407808, 0.        ],
       [0.8       , 0.0484044 , 0.        ],
       [0.53333333, 0.11311311, 0.        ],
       [0.6       , 0.11911912, 0.        ],
       [0.6       , 0.10336737, 0.        ],
       [0.66666667, 0.08908909, 0.        ],
       [0.93333333, 0.02903103, 0.        ],
       [0.8       , 0.02482482, 0.        ],
       [0.66666667, 0.10510511, 0.        ],
       [0.8       , 0.00799199, 0.        ],
       [0.93333333, 0.02931131, 0.        ],
       [0.86666667, 0.02272072, 0.        ],
       [0.8       , 0.13513514, 0.        ],
       [0.66666667, 0.1196016 , 0.        ],
       [0.6       , 0.04646446, 0.        ],
       [0.6       , 0.06370771, 0.        ],
       [0.8       , 0.0708028 , 0.33333333],
       [0.73333333, 0.06706707, 0.        ],
       [0.86666667, 0.01301301, 0.        ],
       [0.66666667, 0.0970971 , 0.        ],
       [0.6       , 0.14114114, 0.        ],
       [0.6       , 0.06906907, 0.        ],
       [0.8       , 0.07107107, 0.        ],
       [0.66666667, 0.05905906, 0.        ],
       [0.86666667, 0.03303303, 0.        ],
       [0.86666667, 0.07093894, 0.        ],
       [0.66666667, 0.11251451, 0.        ],
       [0.8       , 0.06191592, 0.        ],
       [0.73333333, 0.0950951 , 0.        ],
       [0.66666667, 0.10759159, 0.        ],
       [0.6       , 0.10645646, 0.        ],
       [0.86666667, 0.09822222, 0.        ],
       [0.8       , 0.07972773, 0.        ],
       [0.8       , 0.04904905, 0.        ],
       [0.73333333, 0.07117918, 0.        ],
       [0.86666667, 0.0575035 , 0.        ],
       [0.86666667, 0.01021021, 0.        ],
       [0.8       , 0.07912513, 0.        ],
       [0.86666667, 0.03103504, 0.        ],
       [0.8       , 0.07913113, 0.        ],
       [0.93333333, 0.04144144, 0.        ],
       [0.73333333, 0.06906907, 0.        ],
       [0.86666667, 0.03790591, 0.        ],
       [0.93333333, 0.03703704, 0.        ],
       [0.8       , 0.03669269, 0.        ],
       [0.53333333, 0.13781982, 0.        ],
       [0.4       , 0.13826226, 0.        ],
       [0.8       , 0.05425425, 0.        ],
       [0.46666667, 0.12152753, 0.        ],
       [0.73333333, 0.03203203, 0.        ],
       [0.86666667, 0.06056657, 0.        ],
       [0.8       , 0.04864865, 0.        ],
       [0.8       , 0.0426026 , 0.        ],
       [0.86666667, 0.00700701, 0.        ],
       [0.73333333, 0.07933133, 0.        ],
       [0.8       , 0.02795796, 0.        ],
       [0.2       , 0.10001201, 0.        ],
       [0.73333333, 0.12512513, 0.        ],
       [0.86666667, 0.01703704, 0.        ],
       [0.66666667, 0.01861862, 0.        ],
       [0.86666667, 0.02914715, 0.        ],
       [0.86666667, 0.05619419, 0.        ],
       [0.8       , 0.08708709, 0.        ],
       [0.8       , 0.06706707, 0.        ],
       [0.86666667, 0.02098098, 0.        ],
       [0.73333333, 0.03703704, 0.        ],
       [0.8       , 0.06191592, 0.        ],
       [0.86666667, 0.02302302, 0.        ],
       [0.46666667, 0.07507508, 0.        ],
       [0.73333333, 0.0651031 , 0.        ],
       [0.8       , 0.11927127, 0.        ],
       [0.86666667, 0.06704304, 0.        ],
       [0.8       , 0.11911912, 0.        ],
       [0.4       , 0.17504304, 0.        ],
       [0.93333333, 0.01701702, 0.        ],
       [0.86666667, 0.00993794, 0.        ]])

In [28]:
X['Year'] = model.fit_transform(X[["Year"]])

In [29]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual,Seller_Type_Individual
0,0.266667,27000,0,0,1,1,0
1,0.333333,43000,0,1,0,1,0
2,0.066667,6900,0,0,1,1,0
3,0.466667,5200,0,0,1,1,0
4,0.266667,42450,0,1,0,1,0

In [30]:
X["Kms_Driven"] = model.fit_transform(X[["Kms_Driven"]])

In [31]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual,Seller_Type_Individual
0,0.266667,0.053053,0,0,1,1,0
1,0.333333,0.085085,0,1,0,1,0
2,0.066667,0.012813,0,0,1,1,0
3,0.466667,0.009409,0,0,1,1,0
4,0.266667,0.083984,0,1,0,1,0

In [32]:
X["Owner"] = model.fit_transform(X[["Owner"]])

In [33]:
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual,Seller_Type_Individual
0,0.266667,0.053053,0.0,0,1,1,0
1,0.333333,0.085085,0.0,1,0,1,0
2,0.066667,0.012813,0.0,0,1,1,0
3,0.466667,0.009409,0.0,0,1,1,0
4,0.266667,0.083984,0.0,1,0,1,0

In [34]:
X.shape

(301, 7)

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [37]:
X_train.shape

(201, 7)

In [38]:
X_test.shape

(100, 7)

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
model = LinearRegression()

In [41]:
model.fit(X_train,y_train)

LinearRegression()

In [42]:
model.score(X_test,y_test)

0.6277335827814441

In [43]:
y_pred= model.predict(X_test)

In [44]:
y_pred

array([ 5.55891467,  5.13809034,  9.24487324, -0.44843517,  4.36501934,
       10.06065474,  1.03506402,  0.67358409,  1.28402948,  9.77655851,
       10.79143905,  0.4733749 ,  8.80260514,  5.76774997,  9.48258726,
        4.45702242,  0.09876828,  5.42351049,  1.55774813,  1.53074466,
        0.39461477, 10.26861618,  9.14106739,  3.70206344,  0.73734229,
        4.05229192,  4.42765239,  3.78832453,  1.56674929,  1.29903141,
        0.4096167 ,  9.84406719, -0.43104174,  2.96266802, 10.35700004,
        4.64023442,  4.48503102,  3.2716412 ,  4.42831998,  3.52060666,
        2.14451247,  6.3135281 ,  4.58022671,  0.80110049, 10.02713293,
        0.46962442,  4.6594594 ,  7.87050149,  4.32751076,  9.21536445,
        8.58813662,  1.54087096, 14.31541109, 14.78333815, 10.13196641,
        9.44962899,  4.81978596, 10.3232007 ,  2.34643188,  9.39076892,
        0.46212345, -1.36410326,  1.53862067, -0.93272315,  4.93795615,
        1.26415193, 13.99893694, 14.28915771,  4.87343286,  0.04295266,
        9.21276536,  8.05195827,  5.20405757,  4.95496084,  4.00994523,
        1.36278961,  1.54424639,  9.08870038,  1.06881836,  4.8846243 ,
        4.85718952,  3.74558404,  7.70155066,  9.66951696,  3.82755458,
        5.47077834,  0.36986159,  3.48851003,  1.41904685, 13.59101759,
        1.00130968,  3.12425902,  4.42502705, 10.35700004,  5.39888857,
        4.99237426,  3.36890621,  3.95709624,  4.89549319, -2.11379226])

In [45]:
y_test[:5]

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
Name: Selling_Price, dtype: float64

In [46]:
y_pred[:5]

array([ 5.55891467,  5.13809034,  9.24487324, -0.44843517,  4.36501934])