In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\CSV files\movies.csv")

In [3]:
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [4]:
selected_feature = ["genres","keywords","tagline","title","director"]

In [5]:
df1 = df[["genres","keywords","tagline","title","cast","director"]]

In [6]:
df1.head()

,genres,keywords,tagline,title,cast,director
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Enter the World of Pandora.,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron
1,Adventure Fantasy Action,ocean drug abuse exotic island east india trad...,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,Johnny Depp Orlando Bloom Keira Knightley Stel...,Gore Verbinski
2,Action Adventure Crime,spy based on novel secret agent sequel mi6,A Plan No One Escapes,Spectre,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,Sam Mendes
3,Action Crime Drama Thriller,dc comics crime fighter terrorist secret ident...,The Legend Ends,The Dark Knight Rises,Christian Bale Michael Caine Gary Oldman Anne ...,Christopher Nolan
4,Action Adventure Science Fiction,based on novel mars medallion space travel pri...,"Lost in our world, found in another.",John Carter,Taylor Kitsch Lynn Collins Samantha Morton Wil...,Andrew Stanton

In [7]:
df1.shape

(4803, 6)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4775 non-null   object
 1   keywords  4391 non-null   object
 2   tagline   3959 non-null   object
 3   title     4803 non-null   object
 4   cast      4760 non-null   object
 5   director  4773 non-null   object
dtypes: object(6)
memory usage: 225.3+ KB

In [20]:
df1.isnull().sum()

genres       28
keywords    412
tagline     844
title         0
cast         43
director     30
dtype: int64

In [21]:
"Action Adventure Fantasy Science Fiction	culture clash future space war space colony so...	Enter the World of Pandora.	Avatar	James Cameron"

'Action Adventure Fantasy Science Fiction\tculture clash future space war space colony so...\tEnter the World of Pandora.\tAvatar\tJames Cameron'

In [22]:
df1 = df1.fillna(" ")

In [23]:
df1.isnull().sum()

genres      0
keywords    0
tagline     0
title       0
cast        0
director    0
dtype: int64

In [24]:
df1.head(1)

,genres,keywords,tagline,title,cast,director
0,Action Adventure Fantasy Science Fiction,culture clash future space war space colony so...,Enter the World of Pandora.,Avatar,Sam Worthington Zoe Saldana Sigourney Weaver S...,James Cameron

In [25]:
 combined_feature = df1["genres"]+ " "+df1["keywords"]+ " "+df1["tagline"] + " "+df1["cast"]+ " "+df1["director"]

In [26]:
combined_feature[0]

'Action Adventure Fantasy Science Fiction culture clash future space war space colony society Enter the World of Pandora. Sam Worthington Zoe Saldana Sigourney Weaver Stephen Lang Michelle Rodriguez James Cameron'

In [27]:
from sklearn.feature_extraction.text import  CountVectorizer

In [28]:
vectors =  CountVectorizer()

In [29]:
feature_vector = vectors.fit_transform(combined_feature)

In [30]:
feature_vector.shape

(4803, 17318)

In [31]:
feature_vector.toarray()[0]

array([0, 0, 0, ..., 0, 0, 0])

In [32]:
vectors.get_feature_names_out()

array(['000', '007', '05', ..., 'zwigoff', 'zylka', '最后的舞者'], dtype=object)

In [33]:
len(vectors.get_feature_names_out())

17318

In [34]:
import difflib

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity = cosine_similarity(feature_vector)
similarity

array([[1.        , 0.25253814, 0.10206207, ..., 0.        , 0.        ,
        0.        ],
       [0.25253814, 1.        , 0.10997148, ..., 0.05714286, 0.        ,
        0.        ],
       [0.10206207, 0.10997148, 1.        , ..., 0.        , 0.09072184,
        0.        ],
       ...,
       [0.        , 0.05714286, 0.        , ..., 1.        , 0.        ,
        0.04264014],
       [0.        , 0.        , 0.09072184, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.04264014, 0.        ,
        1.        ]])

In [37]:
similarity[0]

array([1.        , 0.25253814, 0.10206207, ..., 0.        , 0.        ,
       0.        ])

In [38]:
len(similarity)

4803

In [39]:
similarity.shape

(4803, 4803)

In [ ]:

movie = input("Enter a movie name :")

In [ ]:
movie

In [ ]:
movie_list = df["title"].to_list()

In [ ]:
best_match = difflib.get_close_matches(movie, movie_list)

In [ ]:
best_match

In [ ]:
exact_match = best_match[0]

In [ ]:
index_of_movie = df[df["title"]==exact_match].values[0][0]
index_of_movie

In [ ]:
similarity[68][:100]

In [ ]:
final_match = list(enumerate(similarity[index_of_movie][:100]))
final_match

In [ ]:
final_match = list(enumerate(similarity[index_of_movie]))
final_match

In [ ]:
from operator import itemgetter

In [ ]:
sorted_match = sorted(final_match, key=itemgetter(1,0),reverse=True)

In [ ]:
sorted_match

In [ ]:
n = 0
for i in sorted_match:
    n+=1
    if n<6:
        index = (sorted_match[n][0])
        # print(index)
        print(df.iloc[index]["title"])

In [ ]:
df.iloc[79]["title"]